<?xml version="1.0" encoding="utf-8"?>
<User Key="ffffffff-0000-0000-0000-000000000000" Alias="mgsample@123.gmail.com">
  <Info>
    <Comments />
    <Name>MGSample</Name>
    <Username>mgsample@123.gmail.com</Username>
    <Email>mgsample@123.gmail.com</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAEAACcQAAAAEB3KBd2jtFWUq7WpmegWe8+rW0b6meUrypXJJ4Dup15OyJ+cp+BaxkMbpRZHQKCGxw==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
    <Group>
      <Alias>sensitiveData</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>