<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce4dfa99-d49b-42f9-a813-f52913cd04a7" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-07-04T17:02:44</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="eed8cf3a-6307-42ab-9d2f-bc98c46ef979">Home</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[This is a home page ]]></Value>
    </title>
  </Properties>
</Content>